@uiCellBg:#FFFFFF;
@uiCellBorderColor:#c7c7cc;
@uiCellGapV:.13rem;
@uiCellGapH:.15rem;
@uiCellInnerGapH:.35em;
@uiCellHeight: .44rem;
@uiCellFontSize:.17rem;
@uiCellTipsFontSize:.14rem;
@uiCellLabelWidth:1rem;

@uiCellLineHeight: unit((@uiCellHeight - 2 * @uiCellGapV) / @uiCellFontSize); // 高度为44px，减去上下padding的行高
@uiCellsMarginTop:.2rem;