@color-skin-default:#333;
@color-border-default:#e1e1e1;
@color-skin-orange: #fcb825;
@color-skin-red:#f1453d;
@color-skin-blue:#5393e0;
@color-skin-green:#0c7;
@color-skin-666:#666;
@color-skin-999:#999;


.color-orange{
  color: @color-skin-orange;
}
.color-red{
  color: @color-skin-red;
}
.color-blue{
  color: @color-skin-blue;
}
.color-green{
  color:@color-skin-green;
}
.color666{
  color: @color-skin-666;
}
.color999{
  color: @color-skin-999;
}